{% extends 'base.html.twig' %}

{% block body %}
  {{ parent() }}
  <h1>Vanguarda: Soluções de Gestão</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis diam in interdum vulputate. Aenean at quam nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer vel magna pulvinar, blandit mi vel, suscipit lorem. Duis facilisis mi a tellus aliquam dictum. Etiam eget sem sed elit scelerisque lacinia non et ex. Nulla consequat tempor libero in varius. Morbi eget est a elit ultrices dignissim in eget ex. Fusce ultrices dolor congue lacinia consectetur. Ut pellentesque vehicula turpis, ut lobortis enim egestas eu. Vestibulum fringilla laoreet sollicitudin. Nulla tincidunt nisl non urna porta malesuada. Aliquam cursus lacus sapien, scelerisque placerat massa consectetur sit amet. Curabitur sed leo non mi mollis finibus placerat sed massa. Aliquam arcu nibh, suscipit a tincidunt sit amet, dignissim eget erat.</p>


{# <script>
jQuery(document).ready(function() {
  $.ajax({
    type: "POST",
    url: "http://vanguarda.ddns.net:444/sfa_suporte_files/api.asmx",
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: function (r) {
      console.log(r);
      console.log(r.d);
    },
    error: function (r) {
        console.log(r.responseText);
    },
    failure: function (r) {
        console.log(r.responseText);
    }
  });
  return false;
});
</script> #}


{% endblock %}

